<section class="colophon">
</section>
<section class="bottom">
  <section class="attribution">
    <section class="poweredby">Publié grâce au projet <a class="icon-ghost" href="http://hubpress.io">HubPress</a></section>
    <a href="http://github.com/Reedyn/Saga">Développé avec <i class="fa fa-heart"></i> gratuitement et avec des logiciels Open-Source</a>.
  </section>
</section>
